[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ipython = "*"
pre-commit = "*"
ipdb = "*"
black = "*"

[packages]
requests = "*"
twine = "*"
mkdocs = "*"
mkdocs-material = "*"
pydantic = "*"
pytest = "*"
coverage = "*"

[requires]
python_version = "3.7"
