[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ipython = "*"
pre-commit = "*"
ipdb = "*"
black = "*"
pygments = "*"
pdbpp = "*"

[packages]
requests = "*"
twine = "*"
mkdocs = "*"
mkdocs-material = "*"
pydantic = "<2.0.0"
pytest = "*"
coverage = "*"
beautifulsoup4 = "*"
inflection = "*"
bleach = ">=3.*"
jeepney = ">=0.4.2"
click = "*"
typer = "*"
importlib-metadata = "*"
typing-extensions = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
